@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* border: solid 1px !important; */
}
body {
  font-family: "Plus Jakarta Sans Variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

@keyframes slideIn {
  from {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  to {
    width: 250px;
  }
}

@keyframes slideOut {
  from {
    width: 250px;
    padding: 0;
  }
  to {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 150;
  }
  50% {
    stroke-dasharray: 100, 150;
  }
  100% {
    stroke-dasharray: 0, 150;
  }
}

.loader-circle {
  stroke-dasharray: 0, 150;
  stroke-dashoffset: 0;
  animation: draw 2s infinite linear;
}
