@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Plus Jakarta Sans Variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

@keyframes slideIn {
  from {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  to {
    width: 250px;
  }
}

@keyframes slideOut {
  from {
    width: 250px;
    padding: 0;
  }
  to {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
}
